{% extends 'MainApp/base.html' %}

{% block content %}
    <h1>HOMEPAGE</h1>

    <div style="width: 1000px;height: 50px;margin:auto;border:2px solid black;text-align: center;margin-top: 10%">
        <br>
        <form method="post">{% csrf_token %}
            {{ RedirectBar.as_table }}
            <button style="display: inline;"type="submit">Submit!</button>
        </form>
    </div>
    <br>
    <div style="margin: auto;text-align: center;">
        <h3>Add To Textbar: </h3>
        <button style="display: inline" id="AddUni">University</button>
        <button style="display: inline" id="AddColl">College</button>
        <button style="display: inline" id="AddUniOf">University Of</button>
    </div>
{% endblock %}
